# Mengategorikan TeX dan HTML sebagai dokumentasi agar tidak masuk statistik kode
*.tex linguist-documentation
*.html linguist-documentation
*.css linguist-documentation

# Pastikan Python terdeteksi sebagai bahasa utama
*.py linguist-detectable=true
